﻿@{
ViewData["Title"] = "Inicio";
}

<h2 class="text-center">Mini Core de Comisiones</h2>

<div class="text-center mt-4">
    <a href="/Ventas/Create" class="btn btn-primary btn-lg m-2">Registrar Venta</a>
    <a href="/Comisiones/Index" class="btn btn-success btn-lg m-2">Ver Comisiones</a>
</div>